

.cor {
    color: rgb(0, 0, 0)
}

.center {
    text-align: center
}

.form-input {
    margin: 10px
}

  
.buttonCriarEstoque {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonCriarEstoque:hover {
  background-color: #fff;
}

.buttonCriarEstoque:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buttonCriarEstoque {
    min-width: 120px;
    padding: 5px 15px;
  }
}

.buttonRemoverEstoque {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonRemoverEstoque:hover {
    background-color: #fff;
  }
  
  .buttonRemoverEstoque:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .buttonRemoverEstoque {
      min-width: 120px;
      padding: 5px 15px;
    }
  }

  .buttonCriarDeposito {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonCriarDeposito:hover {
    background-color: #fff;
  }
  
  .buttonCriarDeposito:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .buttonCriarDeposito {
      min-width: 120px;
      padding: 5px 15px;
    }
  }

  .background {
    /*background:rgb(128, 128, 128)*/
  }
  
  .buttonCriarItem {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    line-height: 10px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonCriarItem:hover {
    background-color: #fff;
  }
  
  .buttonCriarItem:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .buttonCriarItem {
      min-width: 120px;
      padding: 5px 15px;
    }
  }